[submodule "external/victorialogs"]
	path = external/victorialogs
	url = https://github.com/VictoriaMetrics/VictoriaLogs.git
[submodule "external/jaeger"]
	path = external/jaeger
	url = https://github.com/jaegertracing/jaeger.git
[submodule "external/perses"]
	path = external/perses
	url = https://github.com/perses/perses.git
[submodule "external/ollama"]
	path = external/ollama
	url = https://github.com/ollama/ollama.git
[submodule "external/podman"]
	path = external/podman
	url = https://github.com/qiangli/podman.git
[submodule "external/gitea"]
	path = external/gitea
	url = https://github.com/qiangli/gitea.git
