[submodule "external/victorialogs"]
	path = external/victorialogs
	url = https://github.com/qiangli/VictoriaLogs.git
	branch = ycode
[submodule "external/jaeger"]
	path = external/jaeger
	url = https://github.com/qiangli/jaeger.git
	branch = ycode
[submodule "external/perses"]
	path = external/perses
	url = https://github.com/qiangli/perses.git
	branch = ycode
